fastapi==0.128.0
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.22
uvicorn==0.40.0
python-dotenv~=1.0.1
vkbottle~=4.6.2
aiogram~=3.25.0
SQLAlchemy~=2.0.38
aiosqlite~=0.21.0
pytest~=8.3.5
pytest-asyncio~=0.25.3
maxapi~=1.1.0
aioboto3~=15.5.0
certifi>=2024.8.30
pandas
openpyxl
aiomysql~=0.3.2
cryptography~=49.0.0
fuzzywuzzy~=0.18.0
python-levenshtein~=0.27.3
aiohttp-socks~=0.11.0
